/* @theme am_yoimiya */

@import 'am_template';

:root {
  --color-code-bg: rgb(243, 217, 190);
  --color-coverbg: rgb(151, 49, 40);
  --color-few: rgb(239, 145, 99);
  --color-footer: rgb(140,140,140);
  --color-main: rgb(33, 17, 18);
  --color-much: rgb(97, 30, 30);
  --color-navbar-bg: rgb(236, 194, 155);
  --color-navbar-font: rgb(108, 95, 91);
  --color-quote: rgba(254, 176, 98, 0.1);
  --color-title: rgb(255, 255, 255);
  --color-trans: rgb(151, 49, 40);
  --filter-b: brightness(30%) contrast(70%) grayscale(100%);
  --filter-c: brightness(0%) contrast(60%) grayscale(80%);
  --filter-e: brightness(0%) contrast(70%) grayscale(100%);
}